@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
    background: #eee;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.container {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.row {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
}

.column + .column {
    margin-left: 30px;
}

.box {
    color: #1E2225;
    padding: 30px;
    background: #fff;
}

.box-fat {
    text-transform: uppercase;
    font-weight: 800;
}
